$dropdown-hover: #d0e7ff;
$white: #fff;
$theme-blue: #1d1283;
$theme-active: #87d870;
$black: #000;

.dropdown {
    width: 150px;
    border-radius: 10px;
    color: $black;
    position: absolute;
    top: 60px;
    right: 23px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    font-size: 0.87rem;
    justify-content: center;
    background-color: #fffbfb;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 6px 2px;

    .dropdownList {
        padding: 0;
        margin: 0;
    }

    .dropdownItem {
        padding: 15px 30px;
        /* margin: 0 auto; */
        list-style-type: none;
        color: #0d6efd;
        cursor: pointer;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        line-height: 19.575px;
    }

    .dropdownItem:hover {
        background-color: $dropdown-hover;
        transition: background-color 0.38s ease-in;
    }

    .dropdownLink {
        display: block;
        text-decoration: none;
        cursor: pointer;
    }
    .line {
        border: 0;
        border-bottom: 1px solid;
        margin: auto;
        opacity: 0.25;
        color: inherit;
        width: 90%;
        padding: 0;
    }
}

@media (max-width: 970px) {
    .dropdown {
        top: 55px;
    }
}
