@import '../../styles/variables.scss';

.container {
    max-width: 450px;
    padding: 15px;
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
    border: 5px solid $off-white;
    border-radius: 25px;
}

.title {
    margin: 20px;
    color: $color-blue;
    font-size: 25px;
}

.description {
    margin: 0px 20px 20px 20px;
    color: $light-gray;
    text-overflow: ellipsis;
    overflow: hidden;
}

.taskInfo {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.taskDue {
    display: flex;
    align-items: center;
}

.taskDue > img {
    margin-right: 10px;
}

.dateInfo {
    margin: 20px;
}

.taskStarted {
    color: $light-gray;
    margin-bottom: 8px;
}

.subtasks {
    margin: 20px;
}

.subtask {
    background-color: $off-white;
    margin: 8px 8px 8px 0px;
    padding: 4px 6px 4px 10px;
    border-radius: 7px;
    border: 2px solid $reddish-gray;
    color: $color-blue;
    display: flex;
    justify-content: space-between;
}

.subtaskStatus {
    margin-left: 8px;
    color: $progress-green;
}

.taskStatus {
    margin: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statusInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ownerInfo {
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        margin-left: 8px;
    }
}

.toBeDecided {
    background-color: $off-white;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid $reddish-gray;
    color: $color-blue;
    justify-content: space-between;
}

.toBeDecided > p {
    margin: 5px;
}

.dueDate {
    margin-left: 10px;
}
