@import '../../styles/variables.scss';

.bannerContainer {
    width: 100%;
}
.progressBanner {
    background-color: $banner-background;
    color: $color-white;
    padding: 2rem;
    border-radius: $border-radius-bigger;
    margin-top: 2rem;
    width: 100%;
}
.bannerPara {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.totalMissedUpdates {
    color: $theme-light-cerise-red;
    text-decoration: underline;
    margin: 0 0.4rem;
}
.standupUpdateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    margin-top: 4rem;
}
.standupTitle {
    margin-left: 1rem;
    color: $theme-primary;
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0px;
}
.StandupDate {
    color: $theme-primary-light;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
}

.inputAndButtons {
    display: flex;
}

.inputContainers {
    display: flex;
    flex-direction: row;
    position: relative;
}
.inputBoxContainer {
    display: flex;
    flex-direction: column;
}
.inputBox {
    display: flex;
    flex-direction: row;
    width: 60vw;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.addButtonContainer {
    position: absolute;
    top: 2rem;
    left: 100%;
    margin-left: 10px;
}
.addButton,
.removeButton {
    border-radius: 50%;
    background-color: $theme-primary;
    color: $color-white;
    font-weight: 700;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 1px 2px 4px 2px grey;
}

.removeButton {
    margin-left: 10px;
    color: $progress-red;
}

.addButton:active,
.removeButton:active {
    transform: translateY(4px);
}
.formFields {
    text-align: left;
    border: none;
}
.updateHeading {
    color: darken($gray, 10%);
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
}
.inputField {
    height: 4rem;
    width: 100%;
    border-radius: $border-radius-bigger;
    border: 2px solid lighten($light-gray, 10%);
    background: $color-white;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    margin: 0.8rem 0 2.4rem 0;
}
.inputField:focus {
    border: 2px solid $royal-blue;
    outline: none;
}
.submitButton {
    margin-left: 1rem;
    width: 14rem;
    height: 4rem;
    border-radius: $border-radius-bigger;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    color: var(--toastify-spinner-color);
    box-shadow: 1px 2px 4px 2px $gray;
}
.submitButton:active {
    transform: translateY(4px);
}
.submitButton:active,
.submitButton:hover {
    background: $theme-primary;
    color: $color-white;
}
.submitButton:disabled {
    background: $light-gray;
    color: var(--toastify-spinner-color);
    transform: none;
    cursor: not-allowed;
}
.activeButton {
    background: $theme-primary;
    color: $color-white;
}
.nonActiveButton {
    background: $light-gray;
}
.timeContainer {
    display: flex;
    justify-content: space-between;
}
.notAuthenticated {
    text-align: center;
}

.formFilledMessage {
    text-align: center;
    text-wrap: wrap;
    margin-top: 2rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 980px) {
    .standupUpdateContainer {
        width: 100%;
    }
    .timeContainer {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
