$theme-focusHighlight: #1c64f2;
$theme-primaryBackground: #1c325e;
$theme-whiteColor: #ffffff;
$theme-bannerFontColor: #f1416c;
$theme-secondaryBackground: #1e429f;
$theme-ceriseRed: #d61f69;
$theme-headingColor: #6b7280;
$theme-inputFieldBorder: #d1d5db;
$theme-nonActiveButtonBackground: #e5e7eb;
$radius: 0.5rem;

.bannerContainer {
    width: 100%;
}

.progressBanner {
    background-color: $theme-primaryBackground;
    color: $theme-whiteColor;
    padding: 2rem;
    border-radius: $radius;
    margin-top: 2rem;
    width: 100%;
}

.bannerPara {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.totalMissedUpdates {
    color: $theme-bannerFontColor;
    text-decoration: underline;
    margin: 0 0.4rem;
}

.standupUpdateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    margin-top: 4rem;
}

.standupTitle {
    margin-left: 1rem;
    color: $theme-secondaryBackground;
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
}

.formFields {
    text-align: left;
    border: none;
}

.updateHeading {
    color: $theme-headingColor;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
}

.inputField {
    height: 4rem;
    width: 100%;
    border-radius: $radius;
    border: 2px solid $theme-inputFieldBorder;
    background: $theme-whiteColor;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    margin: 0.8rem 0 2.4rem 0;
}

.inputField:focus {
    border: 1px solid $theme-focusHighlight;
    outline: none;
}

.submitButton {
    margin-left: 1rem;
    width: 14rem;
    height: 4rem;
    border-radius: $radius;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    color: var(--toastify-spinner-color);
}

.submitButton:active {
    background: $theme-secondaryBackground;
    color: $theme-whiteColor;
}

.activeButton {
    background: $theme-secondaryBackground;
    color: $theme-whiteColor;
}

.nonActiveButton {
    background: $theme-nonActiveButtonBackground;
}

@media (max-width: 980px) {
    .standupUpdateContainer {
        width: 100%;
    }
}
