.heading {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: #041484;
  margin-bottom: 1em;
}

.section {
  height: 100%;
  min-width: 17em;
  font-size: 1rem;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}