@import '../../styles/variables.scss';

.extensionModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.extensionModal {
    background-color: $white;
    padding: 1.9rem;
    border-radius: 0.6rem;
    width: 90%;
    max-width: 48rem;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 1.3rem 3.1rem rgba($black, 0.7);
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
}

.extensionModal h2 {
    text-align: center;
    margin-bottom: 1.9rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgba($black, 0.9);
}

.extensionDetailRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.extensionLabel {
    font-weight: bold;
    width: 10rem;
    color: rgba($black, 0.9);
    flex-shrink: 0;
}

.extensionValue {
    flex: 1;
    color: rgba($black, 0.9);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.extensionApprovalInfo,
.extensionRejectionInfo {
    margin-top: 0.6rem;
    font-style: italic;
    color: $black;
    text-align: center;
}

.extensionButtonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.9rem;
}

.extensionCloseButton,
.extensionRequestButton {
    padding: 0.8rem 0;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 40%;
    font-weight: bold;
    font-size: 1rem;
}

.extensionCloseButton {
    background-color: $red;
    color: $white;
}

.extensionRequestButton {
    background-color: $green;
    color: $white;
}

.extensionApproved {
    font-weight: bold;
    color: $green;
}

.extensionPending,
.extensionDenied {
    font-weight: bold;
    color: $orange;
}

.extensionModalLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: $white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    max-width: 18.8rem;
}

.extensionNoRequests {
    text-align: center;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}
