@import '../../styles/variables.scss';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: $white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba($black, 0.1);
    width: 90%;
    max-width: 28rem;
}

.heading {
    color: $dark-grayish-red;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.formGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: $dark-grayish-red;
}

.textArea,
.input {
    width: 100%;
    padding: 1rem;
    border: 1px solid $light-gray;
    border-radius: 0.25rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.oldEta {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.dateTimeInput {
    padding: 0.5rem;
}

.formActions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.cancelBtn {
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: $white;
    width: 48%;
    background-color: $red;
}

.cancelBtn:hover {
    background-color: $coral-red;
}

.submitBtn {
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: $white;
    width: 48%;
    background-color: $green;
}

.submitBtn:hover {
    background-color: $light-green;
}

.errorText {
    color: $red;
    font-size: 1rem;
    margin-top: 4px;
}

.disabledBtn {
    background-color: $light-gray;
    color: $dark-grayish-red;
    cursor: not-allowed;

    &:hover {
        position: relative;

        &:after {
            position: absolute;
            font-size: 1rem;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.7;
        }
    }
}
