.suggestions {
    border: 1px solid #999;
    list-style: none;
    margin-top: 0;
    max-height: 10rem;
    padding-left: 0;
    max-width: 12rem;
    min-width: 7rem;
    overflow: auto;
    background-color: white;
    position: absolute;
    top: 40px;
    border-radius: 5px;
    z-index: 100;
    li {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: linear background-color 0.3s;
        opacity: 85%;
        border-bottom: 1px solid black;
    }
    img {
        margin-left: auto;

        border-radius: 50%;
        &:hover {
            opacity: 100%;
        }
    }
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestions {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.suggestionDiv {
    position: relative;
    display: inline-block;
}

.suggestionsInput {
    font-size: 1.3rem;
    font-weight: 400;
    width: 7rem;
    height: 2.5rem;
    display: inline-block;
}

.suggestions-selected {
    background-color: #bcb7b7;
}

.no-suggestions {
    color: #f84040;
    position: absolute;
    top: 40px;
    z-index: 100;
    min-width: 5rem;
}
