@import '../../../styles/variables.scss';

.suggestions {
    border: 1px solid $lighter-gray;
    list-style: none;
    margin-top: 0;
    max-height: 10rem;
    padding-left: 0;
    max-width: 12rem;
    min-width: 7rem;
    overflow: auto;
    background-color: $white;
    position: absolute;
    top: 40px;
    border-radius: 5px;
    z-index: 100;
    li {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: linear background-color 0.3s;
        opacity: 85%;
        border-bottom: 1px solid $black;
    }
    img {
        margin-left: auto;

        border-radius: 50%;
        &:hover {
            opacity: 100%;
        }
    }
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestions {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.suggestionDiv {
    position: relative;
    display: inline-block;
    width: 100%;
}

.suggestionsInput {
    font-weight: 400;
    width: 100%;
    display: inline-block;
    padding: 0 4px 0 4px;
    height: 2rem;
    border: 1px solid $black;
    border-radius: 4px;
    outline: none;
}

.suggestions-selected {
    background-color: $lighter-gray;
}

.no-suggestions {
    color: $coral-red;
    position: absolute;
    z-index: 100;
    min-width: 5rem;
    font-size: 0.8rem;
}
