.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;
}

.heading {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.textArea,
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.oldEta {
    margin-bottom: 10px;
    font-weight: 500;
}

.dateTimeInput {
    padding: 8px;
}

.formActions {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 48%;
}

.cancelBtn {
    composes: button;
    background-color: #b80000;
}

.cancelBtn:hover {
    background-color: #900000;
}

.submitBtn {
    composes: button;
    background-color: #008800;
}

.submitBtn:hover {
    background-color: #006600;
}
.errorText {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
}

.disabledBtn {
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed !important;

    &:hover {
        position: relative;

        &:after {
            position: absolute;
            font-size: 1.2em;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.7;
        }
    }
}
