.card {
    --card-text: #78716c;
    --card-link-text: #2563eb;
    --card-link-bg: #dbeafe;

    padding: 1rem;
    width: 100%;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0.5rem;
    transition: 0.2s ease-out;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    justify-content: space-between;
    position: relative;

    &:hover {
        border-color: #e5e5e5;
        filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.02))
            drop-shadow(0 8px 5px rgba(0, 0, 0, 0.06));
    }
}

.card__top {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.card__top__details {
    flex: 1;
    max-width: 75%;
    overflow-x: clip;
}

.card__top__details__meta_data {
    margin: 0 0 0.75rem;

    & h2 {
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0 0 0.25rem;
        color: #1c1917;
    }

    & p {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--card-text);
    }
}

.card__top__details__desc {
    color: var(--card-text);
}

.card__top__button {
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.25rem;
    background: var(--card-link-bg);
    color: var(--card-link-text);
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0 0;

    &:disabled {
        background-color: #f5f5f4;
        color: #57534e;
        cursor: default;
    }
}

.card__link {
    width: 440px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */
    color: var(--card-text);

    & a {
        color: var(--card-link-text);
    }
}

.label {
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 1.25rem;
    background: var(--card-link-bg);
    color:  var(--card-link-text);
    font-weight: 500;
}

.label__block {
    display: flex;
}
