@use '../../styles/issues.module.scss' as styles;

$card-text: #78716c;

.card {
    padding: 1rem;
    width: 100%;
    background: #fff;
    border: 1px solid styles.$border-color;
    border-radius: 0.5rem;
    transition: 0.2s ease-out;
    display: flex;
    margin: 1rem auto;
    justify-content: space-between;
    position: relative;

    &:hover {
        border-color: #e5e5e5;
        filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.02))
            drop-shadow(0 8px 5px rgba(0, 0, 0, 0.06));
    }

    @media (max-width: 64rem) {
        flex-direction: column;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    width: 20%;
    @media (max-width: 64rem) {
        flex-direction: row;
        width: 100%;
    }
}

.card_details {
    display: flex;
    flex-direction: column;
}

.assign {
    width: 9rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    display: inline-block;
}

.assign_label {
    margin-left: 0.5rem;
    line-height: 1rem;
    margin-bottom: 0;
}

.suggestions_container {
    position: relative;
    top: -20%;
    left: 10%;
}

.card__top__details__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    h2 {
        font-size: 1.5rem;
        margin: 0;
    }

    @media (max-width: 48rem) {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
}

.card__top__button {
    @include styles.issues-button;
    min-width: 9rem;
    margin-left: 0.5rem;

    @media (max-width: 48rem) {
        margin-top: 1rem;
    }
}

.card__issue_created__by,
.card__assignee {
    margin-bottom: 0.5rem;

    a {
        color: styles.$link-text;
        text-decoration: none;
        margin-left: 0.2rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.card__body__description {
    img {
        max-width: 100%;
        height: auto;
    }
}

.card__link {
    font-family: 'Inter';
    font-style: normal;
    font-size: 0.8rem;
    line-height: 140%;
    color: $card-text;

    & a {
        color: styles.$link-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.label {
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 1.25rem;
    background: styles.$link-bg;
    font-weight: 500;
    font-family: 'Inter';
    margin-right: 0.5rem;
}

.label__block {
    display: flex;
}

.card__body {
    width: 100%;
    color: black;
    overflow: auto;
    h1 {
        font-size: 1.2rem;
    }

    img {
        max-width: 100%;
        border: 1px solid $card-text;
        border-radius: 0.5rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid $card-text;
        border-radius: 0.5rem;

        th,
        td {
            border: 1px solid $card-text;
            padding: 0.5rem;
        }
    }

    code,
    pre {
        font-family: consolas, monospace;
        white-space: normal;
    }
}
