$grey-color: #f2f2f2;
$border-black-color: #1f1f1f;
.clipboardInput {
    display: flex;
    padding: 0 4px 0 4px;
    height: 2rem;
    border: 1px solid $border-black-color;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.clipboardInputContainer {
    display: flex;
}

.clipboardIconButton {
    appearance: none;
    background-color: $grey-color;
    padding: auto;
    height: 2rem;
    border: 1px solid $border-black-color;
    border-left: none;
    border-radius: 0 4px 4px 0;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: darken($grey-color, 5%);
    }
}
