$theme-grey: #d4d4d5;
$theme-grey-light: #f1f1f5;
$gray-shade-color: #808080;
$gray-shade-color2: #5c5b5b;

.tabButton {
    border: none;
    border-bottom: 1.8px solid $theme-grey;
    font-size: 0.9rem;
    font-weight: bold;
    color: $gray-shade-color;
    width: 9rem;
    background: var(--toastify-color-light);
    padding: 12px 8px 8px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.tabButton:hover {
    color: $gray-shade-color2;
}

.tabButton:active {
    background-color: $theme-grey-light;
}

.active {
    color: var(--toastify-color-dark);
    border: 1.8px solid $theme-grey;
    border-bottom: none;
    background: var(--toastify-color-light);
}
