@import '../../styles/variables.scss';

.tabButton {
    border: none;
    border-bottom: 1.8px solid lighten($light-gray, 15%);
    font-size: 0.85rem;
    font-weight: bold;
    color: $grayish-brown;
    background: var(--toastify-color-light);
    padding: 0.45rem 0.8rem;
    border-radius: 0.2rem 0.2rem 0 0;
    cursor: pointer;
}

.tabButton:hover {
    color: $gray;
}

.tabButton:active {
    background-color: $off-white;
}

.active {
    color: var(--toastify-color-dark);
    border: 1.8px solid lighten($light-gray, 15%);
    border-bottom: none;
    background: var(--toastify-color-light);
}
