$theme-grey: #d4d4d5;

.tabButton {
    background: white;
    border: none;
    padding: 12px 8px 8px;
    font-size: 0.8em;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $theme-grey;
    cursor: pointer;
}

.active {
    font-weight: bold;
    border: 1px solid $theme-grey;
    border-bottom: none;
    background: white;
}
