$light-grey: #d4d4d5;

.heading {
  text-align: left;
}

.tabContainerClassName {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  .tabButton {
    background: white;
    border: none;
    padding: 14px 9px 9px;
    font-size: 0.8em;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
  }
  .active {
    font-weight: bold;
    border: 1px solid $light-grey;
    background: white;
  }
}

.open {
  display: block;
}

.closed {
  display: none;
}
