.tabButton {
  background: white;
  border: none;
  padding: 14px 9px 9px;
  font-size: 0.8em;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  cursor: pointer;
}

.activeTab {
  font-weight: bold;
  border: 1px solid #d4d4d5;
  background: white;
}

.tabContainerClassName {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tabsChildrenClassName {
  width: 100%;
}
