$base-unit: 4px;
$base-font-size: 0.3rem;
$color-blue: #041187;
$color-red: #e30062;
$color-green: #85da6b;
$color-disabled: #e5e7eb;
$color-white: #fff;
$color-black: #000;
$diff-margin: $base-unit * 15;
$similar-margin: $base-unit * 8;
$section-padding-top-bottom: $base-unit * 30;
$section-padding-left-right: $base-unit * 25;
$theme-inputFieldBorder: #d1d5db;
$theme-focusHighlight: #1c64f2;

.progressUpdateContainer {
    padding: 2rem;
}
.mark {
    color: $color-red;
    text-decoration: underline;
}

.container {
    margin: $diff-margin auto;
    width: 60%;
}

.formHeading {
    color: $color-blue;
    font-size: $base-unit * 8;
}

.date {
    opacity: 50%;
}

.inputComponent {
    margin: $diff-margin auto;
}

.label {
    font-size: $base-font-size * 4.2;
    display: block;
    margin-bottom: $similar-margin * 1/2;
    color: var(--toastify-spinner-color);
}

.input {
    border: 2px solid $theme-inputFieldBorder;
    display: block;
    resize: none;
    padding: $base-unit * 2;
    border-radius: $base-unit * 2;
    width: 100%;
    font-size: 1rem;
    color: var(--toastify-spinner-color);
}

.input:focus {
    border: 1px solid $theme-focusHighlight;
    outline: none;
}

.button {
    background-color: $color-blue;
    color: $color-white;
    padding: $base-unit * 4 $base-unit * 8;
    border-radius: $base-unit * 2;
    margin-bottom: $diff-margin;
    font-size: $base-font-size * 4;
    border: none;
    width: 14rem;
    cursor: pointer;

    &:hover {
        background-color: darken($color-blue, 10%);
    }

    &:disabled {
        color: var(--toastify-spinner-color);
        cursor: not-allowed;
        background-color: $color-disabled;
    }
}

@media (max-width: 770px) {
    .container {
        width: 90%;
    }
    .banner {
        width: 90%;
    }
}
