@use '../../../styles/issues.module.scss' as styles;
@import '../../../styles/variables.scss';

.screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.pointerEventsNone {
    pointer-events: none;
}

.card {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-bottom: 25px;
    justify-content: space-between;
    border: 1px solid $lighter-gray;
    position: relative;
    width: 100%;

    @media (min-width: 768px) and (max-width: 1024px) {
        justify-content: center;
    }

    @media (max-width: 448px) {
        justify-content: center;
    }
}
.card_updated {
    border-radius: 10px;
}
.cardItems {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
        flex-wrap: wrap;
    }
}
.card_updated .cardItems:not(:nth-child(1)) {
    margin-top: 0.8rem;
}

.dateInfo {
    margin-top: 0.8rem;
}

.cardTitle {
    text-decoration: none;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 500;
    color: $theme-primary-alt;
    max-width: 30rem;
    word-break: break-word;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.cardTitleText {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;

    @media (max-width: 368px) {
        -webkit-line-clamp: 2;
    }
}

.cardSpecialFont {
    font-size: 1.1rem;
    font-weight: 500;
    color: #aeaeae;
}

.cardStatusFont {
    font-size: 1.3rem;
    font-weight: 500;
}
.contributor {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.8rem;
    flex-wrap: wrap;

    .card__top__button {
        margin-top: 0;
    }
}
.completionDate {
    padding-left: 0.5rem;
    @media (max-width: 448px) {
        padding-left: 0;
        margin: 0.25rem 0 0.5rem;
    }
}

.contributorImage {
    img {
        border-radius: 50%;
    }
}

.cardStrongFont {
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 5px;
    width: 7rem;
    height: 1.5rem;
}

.overdueTask {
    border: solid red 2px;
    background-color: lighten($light-red-2, 3%);
}

.progressContainer {
    width: 12rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding-top: 0.5rem;
}

.progressContainerUpdated {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1128px) {
    .progressContainerUpdated {
        width: 100%;
        gap: 1rem;
    }
}

.progressIndicator {
    width: 100%;
    height: 0.6rem;
    background-color: $white;
    border: 2px solid $black;
    border-radius: 1rem;
    max-width: 9rem;
}

.progressPercentageCompleted {
    min-width: 2.5rem;
    width: 1.9rem;
    margin-left: 8px;
}

.progressStyle {
    height: 100%;
    border-radius: 1rem;
}

.progressBarContainer {
    display: flex;
    flex-direction: column;
}

.changeProgressText {
    cursor: pointer;
    color: lighten($dark-grayish-red, 50%);
    font-weight: 700;
    user-select: none;
    opacity: 0.5;
    background: transparent;
    border: none;
    font-size: 1rem;
}
.changeProgressTextUpdated {
    cursor: pointer;
    color: lighten($dark-grayish-red, 50%);
    font-weight: 700;
    user-select: none;
    opacity: 0.5;
    background: transparent;
    border: 1px solid $theme-primary-alt;
    font-size: 1rem;
    border: 1px solid $gray;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    border-radius: 0.25rem;
}

.changeProgressTextUpdated:hover {
    transition: opacity 2s;
    opacity: 1;
}

.changeProgressTextUpdated:active {
    transform: translateY(4px);
}

.changeProgressText:hover {
    transition: opacity 2s;
    opacity: 1;
}

.changeProgressText:active {
    transform: translateY(4px);
}

.progressGreen {
    background-color: $green;
}

.progressOrange {
    background-color: $orange;
}

.progressRed {
    background-color: $red;
}

.progressYellow {
    background-color: $yellow;
}
.editButton {
    text-align: left;
    cursor: pointer;
}

.taskStatusAndDateContainer {
    display: flex;
    justify-content: space-between;
}

.taskStatusEditMode {
    margin-top: 0.8rem;
}

.extension-button {
    border: 1px solid #000000b3;
    border-radius: 4px;
    font-size: inherit;
    font-weight: bolder;
    background-color: transparent;
    color: $theme-primary-alt;
    padding: 0.5rem;
    height: 2.5rem;
    width: 10rem;
    transition: 250ms ease-in-out;
}
.extension-button:hover {
    background-color: $theme-primary-alt;
    color: $white;
}

.task-status-control {
    display: flex;
    gap: 0.5rem;
}

.taskStatusUpdate {
    border: 1px solid rgba($black, 0.7);
    border-radius: 4px;
    font-size: inherit;
    font-weight: bolder;
    background-color: transparent;
    color: $theme-primary-alt;
    padding: 0.5rem;
    height: 2.5rem;
    width: 10rem;
    transition: 250ms ease-in-out;
}

.taskStatusUpdate:hover {
    background-color: $theme-primary-alt;
    color: $white;
}

.taskTagLevelWrapper {
    display: flex;
    padding-top: 0.5rem;
    flex-wrap: wrap;
}
.taskTagLevelWrapper.editMode {
    gap: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
}

.taskTagLevelContainer {
    display: flex;
    gap: 0.25rem;
}

.taskTagLevel {
    position: relative;
    background-color: lighten($royal-blue, 50%);
    padding: 0.35em;
    border-radius: 20px;
    border: 2px solid $royal-blue;
    font-size: 0.85em;
    font-weight: 500;
    small {
        font-size: 0.75em;
    }

    .removeTaskTagLevelBtn {
        font-size: 0.35rem;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -40%);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        outline: none;
        border: 1px solid $gray;
        display: grid;
        place-content: center;
        cursor: pointer;
    }
}

.addTaskTagLevel {
    display: flex;
    gap: 0.5rem;
}

.selectWrapper {
    border: 1px solid $black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    display: grid;
    grid-template-areas: select;
    align-items: center;

    .selectDropdown {
        width: 100%;
        appearance: none;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        outline: none;
        border: none;
        padding: 0 1em 0 0;
        border-radius: 0.25em;
        grid-area: select;
        background: none;
    }

    &::after {
        content: '';
        grid-area: select;
        width: 0.7em;
        height: 0.5em;
        background-color: $theme-primary-alt;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        justify-self: end;
    }
}

.addTagLevelBtn {
    cursor: pointer;
}

.seeMoreTasks {
    cursor: pointer;
    width: calc((100% / 3) - 0.5rem);
    padding: 1rem;
    color: $white;
    background-color: $theme-primary-alt;
    border: none;
    border-radius: 3px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.seeMoreTasks:hover {
    box-shadow: 0 1px 0.5rem $grayish-brown;
}

/* loading spinner  */
.loadingBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba($black, 0.2);
    display: grid;
    place-content: center;
    z-index: 5;
    .spinner {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 3px solid lignten($gray, 70%);
        border-radius: 50%;
        border-top-color: $white;
        animation: spin 1s ease-in-out infinite;
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.card__top__button {
    @include styles.issues-button;
    max-width: max-content;
    margin: 1rem 0 0;
}

.close__task__button {
    @include styles.issues-button;
}

.taskCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 448px) {
        padding: 1rem;
    }
}

.suggestionDiv {
    position: relative;
    display: inline-block;
}

.cancelEditButton {
    text-align: left;
    cursor: pointer;
    margin-top: 0.8rem;
}

.textareaSection,
.assignedToSection,
.dateSection,
.taskSection {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    @media (max-width: 448px) {
        align-items: baseline;
    }

    @media (max-width: 400px) {
        flex-direction: column;
        width: 90%;
    }
}

.textarea {
    width: 90%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: $white;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

.smallSpinner {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    box-sizing: border-box;
    animation: spin 1.2s linear infinite;
    margin-bottom: 0.5rem;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 0.25rem dotted $gray;
        box-sizing: border-box;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.selfAlignEnd {
    align-self: end;
}

.statusContainer {
    display: flex;
    align-items: center;
}

.statusText {
    margin-left: 0.5rem;
}

.assigneeSuggestionInput {
    width: 7rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d4d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 2rem;
    accent-color: green;
    background: linear-gradient(
        to right,
        #00c853 0%,
        #00c853 var(--progress, 0%),
        /* Fallback to 0% */ #d4d3d3 var(--progress, 0%),
        #d4d3d3 100%
    );
}
