.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2em;
  cursor: pointer;
  box-shadow: 0 0 15px -7px rgb(0, 0, 0 / 65%);
  border-radius: 10px;
}

.prTitle {
  color: #041484;
  font-size: 1.5rem;
  font-weight: bold;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profilePicture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6em;
}

.profilePicture > img {
  width: 3em;
  border-radius: 50%;
}

.statusLable {
  color: grey;
  font-weight: bold;
}
