$green: #008000;
$orange: #ffa500;
$red: #ff0000;
$yellow: #ecef08;
$white: #e5e5e5;
$black: #252525;

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-bottom: 25px;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
}

.cardItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardItems {
  span {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    align-items: center;
    margin-top: 10px;
  }
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: #041187;
}

.cardSpecialFont {
  font-size: 1.1rem;
  font-weight: 500;
  color: #aeaeae;
}

.cardStatusFont {
  font-size: 1.3rem;
  font-weight: 500;
}

.contributorImage {
  img {
    border-radius: 40%;
  }
}

.cardStrongFont {
  font-size: 1.3rem;
  font-weight: 500;
}

.overdueTask {
  border: solid red 2px;
  background-color: #ffebee;
}

.editButton {
  text-align: left;
}

.progressContainer {
  width: 12rem;
  flex-direction: column;
}

.progressIndicator {
  width: 100%;
  height: 0.6rem;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 1rem;
}

.progressStyle {
  height: 0.4rem;
  border-radius: 1rem;
}

.progressGreen {
  background-color: $green;
}

.progressOrange {
  background-color: $orange;
}

.progressRed {
  background-color: $red;
}

.progressYellow {
  background-color: $yellow;
}
.editButton {
  text-align: left;
}
