.card {
  border: 0.2em solid black;
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 25em;
  margin-bottom: 2em;
  cursor: pointer;
}

.prTitle {
  color: #041484;
  font-size: 1.5rem;
  font-weight: bold;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profilePicture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6em;
}

.profilePicture > img {
  width: 3em;
  border-radius: 50%;
}

.statusLable {
  color: grey;
  font-weight: bold;
}