@use '../../../styles/issues.module.scss' as styles;
$green: #008000;
$orange: #ffa500;
$red: #ff0000;
$yellow: #ecef08;
$white: #e5e5e5;
$black: #252525;
$grey: #adadad;
$taskTagLevelBorder: #4169e1;
$taskTagLevelBg: hsla(225, 73%, 57%, 0.5);
$seeMoreTasksBg: #041187;
$seeMoreTasksShadow: #595959cc;
$progressText: rgb(34 32 32 / 70%);
$progressTextAnimation: #9babb8;

.screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.pointerEventsNone {
    pointer-events: none;
}

.card {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-bottom: 25px;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
    position: relative;
    width: 100%;

    // between 768px and 1024px
    @media (min-width: 48rem) and (max-width: 64rem) {
        width: 90%;
        justify-content: center;
    }

    @media (max-width: 28rem) {
        justify-content: center;
    }

    @media (max-width: 23rem) {
        width: 90%;
        justify-content: center;
    }
}
.card_updated {
    border-radius: 10px;
}
.cardItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 3rem;

    @media (max-width: 600px) {
        flex-wrap: wrap;
    }
}
.card_updated .cardItems:not(:nth-child(1)) {
    margin-top: 0.8rem;
}

.dateInfo {
    margin-top: 0.8rem;
}

.cardTitle {
    text-decoration: none;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    color: #041187;
    width: 65%;

    @media (max-width: 48rem) {
        width: 100%;
        white-space: normal;
    }

    @media (max-width: 18rem) {
        width: 90%;
    }
}

.cardSpecialFont {
    font-size: 1.1rem;
    font-weight: 500;
    color: #aeaeae;
}

.cardStatusFont {
    font-size: 1.3rem;
    font-weight: 500;
}
.contributor {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.8rem;

    .card__top__button {
        margin-top: 0;
    }
}
.completionDate {
    padding-left: 0.5rem;
    @media (max-width: 28rem) {
        padding-left: 0;
        margin: 0.25rem 0 0.5rem;
    }
}

.contributorImage {
    img {
        border-radius: 50%;
    }
}

.cardStrongFont {
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 5px;
    width: 7rem;
    height: 1.5rem;
}

.overdueTask {
    border: solid red 2px;
    background-color: #ffebee;
}

.progressContainer {
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
}

.progressContainerUpdated {
    width: 12rem;
    display: flex;
    align-items: center;
}

.progressIndicator {
    width: 100%;
    height: 0.6rem;
    background-color: $white;
    border: 2px solid $black;
    border-radius: 1rem;
    max-width: 9rem;
}

.progressPercentageCompleted {
    min-width: 2.5rem;
    width: 1.9rem;
    margin-left: 8px;
}

.progressStyle {
    height: 0.4rem;
    border-radius: 1rem;
}

.progressBarContainer {
    display: flex;
    flex-direction: column;
}

.changeProgressText {
    cursor: pointer;
    color: $progressText;
    font-weight: 700;
    padding-left: 2rem;
    user-select: none;
    opacity: 0.5;
    background: transparent;
    border: none;
    font-size: 1rem;
}
.changeProgressText:hover {
    transition: opacity 2s;
    opacity: 1;
}

.changeProgressText:active {
    transform: translateY(4px);
}

.progressGreen {
    background-color: $green;
}

.progressOrange {
    background-color: $orange;
}

.progressRed {
    background-color: $red;
}

.progressYellow {
    background-color: $yellow;
}
.editButton {
    text-align: left;
    cursor: pointer;
}

.taskStatusAndDateContainer {
    display: flex;
    justify-content: space-between;
}

.taskStatusEditMode {
    margin-top: 0.8rem;
}

.taskTagLevelWrapper {
    display: flex;
    padding-top: 0.5rem;
    flex-wrap: wrap;
}
.taskTagLevelWrapper.editMode {
    gap: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
}

.taskTagLevelContainer {
    display: flex;
    gap: 0.25rem;
}

.taskTagLevel {
    position: relative;
    background-color: $taskTagLevelBg;
    padding: 0.35em;
    border-radius: 20px;
    border: 2px solid $taskTagLevelBorder;
    font-size: 0.85em;
    font-weight: 500;
    small {
        font-size: 0.75em;
    }

    .removeTaskTagLevelBtn {
        font-size: 0.35rem;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -40%);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        outline: none;
        border: 1px solid grey;
        display: grid;
        place-content: center;
        cursor: pointer;
    }
}

.addTaskTagLevel {
    display: flex;
    gap: 0.5rem;
}

.selectWrapper {
    border: 1px solid $black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    display: grid;
    grid-template-areas: select;
    align-items: center;

    .selectDropdown {
        width: 100%;
        appearance: none;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        outline: none;
        border: none;
        padding: 0 1em 0 0;
        border-radius: 0.25em;
        grid-area: select;
        background: none;
    }

    &::after {
        content: '';
        grid-area: select;
        width: 0.7em;
        height: 0.5em;
        background-color: #041187;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        justify-self: end;
    }
}

.addTagLevelBtn {
    cursor: pointer;
}

.seeMoreTasks {
    cursor: pointer;
    width: calc((100% / 3) - 0.5rem);
    padding: 1rem;
    color: $white;
    background-color: $seeMoreTasksBg;
    border: none;
    border-radius: 3px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.seeMoreTasks:hover {
    box-shadow: 0 1px 0.5rem $seeMoreTasksShadow;
}

/* loading spinner  */
.loadingBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    place-content: center;
    .spinner {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 3px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.card__top__button {
    @include styles.issues-button;
    max-width: max-content;
    margin: 1rem 0 0;
}

.close__task__button {
    @include styles.issues-button;
}

.taskCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 28rem) {
        padding: 1rem;
    }

    // 368px
    // @media (max-width: 23rem) {
    //     padding: 0.5rem ;
    // }
}

.suggestionDiv {
    position: relative;
    display: inline-block;
}

.cancelEditButton {
    text-align: left;
    cursor: pointer;
    margin-top: 0.8rem;
}

.textareaSection,
.assignedToSection,
.dateSection,
.taskSection {
    width: 100%;
    display: flex;
    gap: 5px;

    @media (max-width: 28rem) {
        align-items: baseline;
    }

    @media (max-width: 18rem) {
        flex-direction: column;
        width: 90%;
    }
}

.textarea {
    width: 90%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: $white;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

.smallSpinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 2px solid #29ab87;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.selfAlignEnd {
    align-self: end;
}
