.suggestions {
    border: 1px solid #999;
    list-style: none;
    margin-top: 0;
    max-height: 10rem;
    padding-left: 0;
    max-width: 12rem;
    min-width: 7rem;
    overflow: auto;
    background-color: white;
    position: absolute;
    top: 20px;
    left: -120px;
    border-radius: 5px;
    z-index: 100;
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestions {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.suggestions li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: linear background-color 0.3s;
    opacity: 85%;
    border-bottom: 1px solid black;
}

.suggestions li:hover {
    background-color: #bcb7b7;
    opacity: 100%;
}

.suggestions li img {
    margin-left: auto;

    border-radius: 50%;
}

.no-suggestions {
    color: #666464;

    position: absolute;
    top: 20px;
    left: -120px;
    z-index: 100;
    min-width: 5rem;
}

.loading {
    color: #666464;

    position: absolute;
    top: 20px;
    left: -120px;
    z-index: 100;
    min-width: 5rem;
}
