.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.body{
  background-color: white;
  font-size: 5px;
  justify-content: center;
  font-family: 'Raleway', sans-serif; 
  align-items: center;
}
.container{
  margin-top: 50px;
  justify-content: center;
  margin: 20px 20px;  
  border: 3px blue;
}
.head{
  margin: 10px 10px;
  align-items: center;
}
.mainblock{
  display: grid;
   /* grid-template-columns: repeat(
                auto-fit, minmax(300px, 1fr));*/

   /* display: grid;
                width: 100%;
                grid-template-columns: 1fr 300px;*/
  grid-template-columns: 2fr 1fr;
  margin: 10px 10px; 
  padding: 5px 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
}

.head1{
  align-items: center;
  padding:  5px 10px;
  color:#E30062;
  font-family: 'Raleway', sans-serif;
  min-height: 50px;
  margin: 10px 5px;
  min-width: 240px;
  font-size: 20px;
  padding-left: 5px 5px;
}
.head6{
margin: 10px 5px;
font-family: 'Raleway', sans-serif;
}
.head5{
  margin: 10px 5px;
  width: fit-content;
  color: #1D1283;
  font-family: 'Raleway', sans-serif;
}

.details{
  margin: 10px 20px;
  background-color: #f0f0f0c7;
  padding: 15px 15px;
  border-radius: 5px;
  min-height: 100px;
}

@media  screen and (min-width:760px) {
.detailopt{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 5px;
}
}
.description{
  margin: 10px 20px;
  padding: 15px 15px;
  background-color: #F0F0F0;
  border-radius: 5px;
  min-height: 100px;
}
.activity{ 
  margin: 10px 20px;
  padding: 15px 15px;
  background-color: #F0F0F0;
  border-radius: 5px;
  min-height: 100px;
}
.participants{
  margin: 10px 20PX ;
  padding: 15px 15px ;
  background-color: #F0F0F0;
  border-radius: 5px;
  min-height: 100px;
}
.partopt{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 5px 5px;
}

.dates{
  margin: 10px 20PX ;
  padding: 15px 15px;
  background-color: #F0F0F0;
  border-radius: 5px;
  min-height: 100px;
  border:2px #1D1283;
}
.dateopt{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5px 5px;
}

.para{
  align-items: center;
  font-size: 12px;
  padding-left: 5px 5px;
  font-family: 'Raleway', sans-serif;
}

.btn{
  margin: 5px 5px;
  
}
.btn1{
  margin: 10px 10px;
  margin-left: 80%;
  margin-right: 20%;
}

.btn-1{
  font-weight: 700 ;
  font-size: small;
padding: 8px 16px;
border-radius: 10px;
background-color: #463ca0;
border: none;
color: #F0F0F0;
}


@media  screen and (max-width:750px) {
  .mainblock{
            display: grid;
            grid-template-columns: repeat(
                auto-fit, minmax(300px, 1fr));
         
 }
}

@media  screen and (max-width:760px) {
  .btn1{
    margin: 10px 10px;
    margin-left: 80%;
    margin-right: 20%;     
         
 }
}

@media  screen and (max-width:760px) {
.detailopt{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding: 5px 5px;
}
}

@media  screen and (max-width:760px) {
  .head{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 5px 5px;
  }
  }
  @media  screen and (min-width:760px) {
    .head{
      display: grid;
      grid-template-columns: 2fr 1fr ;
      padding: 5px 5px;
    }
    }
