@import '../../../styles/variables';

.date-clock-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.latest-progress-update-card {
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 5px;

    .latest-progress-update-card__info-container {
        font-size: 1rem;
        display: flex;
        gap: 1rem;
        padding: 10px 1rem;
        border-bottom: 1px solid $lighter-gray;
        &:last-child {
            border-bottom: none;
        }

        &:not(:last-child) {
            @media (width<=425px) {
                flex-direction: column;
            }
        }

        .latest-progress-update-card__info-title {
            font-weight: 700;
        }
        .latest-progress-update-card__info-body {
            word-break: break-word;
            text-align: left;
        }
        &:nth-child(2) {
            .latest-progress-update-card__info-body {
                margin-left: 1.2rem;
                @media (width<=425px) {
                    margin-left: 0;
                }
            }
        }

        &:nth-child(3) {
            .latest-progress-update-card__info-body {
                margin-left: 1rem;
                @media (width<=425px) {
                    margin-left: 0;
                }
            }
        }

        &:last-of-type {
            display: flex;
            justify-content: flex-end;
            @media (width<=425px) {
                justify-content: flex-start;
            }
        }

        .latest-progress-update-card__more-less-button {
            all: unset;
            color: $theme-cerise-red;
            cursor: pointer;
            font-weight: 600;
            margin-left: 5px;
        }

        .latest-progress-update-card__date-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
            z-index: 0;
            cursor: pointer;
            font-size: 0.934rem;
        }
        .latest-progress-update-card__user-info-container {
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 4px;
        }
        .latest-progress-update-card__user-info-link {
            display: flex;
            align-items: center;
        }
        .latest-progress-update-card__profile-picture {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 4px;
            @media (width<=425px) {
                width: 28px;
                height: 28px;
            }
        }
    }
}
