@import '../../../styles/variables';

.latest-progress-update-card {
    background-color: $color-white;
    border-radius: 10px;
    margin-bottom: 5px;

    .latest-progress-update-card__info-container {
        font-size: 1rem;
        display: flex;
        gap: 1rem;
        padding: 10px 1rem;
        border-bottom: 2px solid $color-light-grey;

        &:last-child {
            border-bottom: none;
        }

        &:not(:last-child) {
            @media (width<=425px) {
                flex-direction: column;
            }
        }

        .latest-progress-update-card__info-title {
            font-weight: 700;
        }

        &:nth-child(2) {
            .latest-progress-update-card__info-body {
                margin-left: 1.2rem;
                @media (width<=425px) {
                    margin-left: 0;
                }
            }
        }

        &:nth-child(3) {
            .latest-progress-update-card__info-body {
                margin-left: 1rem;
                @media (width<=425px) {
                    margin-left: 0;
                }
            }
        }

        &:last-of-type {
            display: flex;
            justify-content: flex-end;
        }

        .latest-progress-update-card__more-less-button {
            all: unset;
            color: $theme-ceriseRed;
            cursor: pointer;
            font-weight: 600;
            margin-left: 5px;
        }

        .latest-progress-update-card__date-container {
            position: relative;
            display: flex;
            gap: 5px;
            z-index: 0;
            cursor: pointer;
            font-size: 0.934rem;
        }
    }
}
