@import '../../../styles/variables';

.progress-update-card {
    background-color: $color-white;
    margin-bottom: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;

    h3 {
        font-weight: 600;
        font-size: 1.125rem;
    }

    .progress-update-card__date-container {
        display: flex;
        gap: 5px;
        align-items: center;
        position: relative;

        .progress-update-card__date-text {
            font-size: 0.934rem;
        }
    }

    .progress-update-card__title {
        .progress-update-card__more-button {
            all: unset;
            color: $theme-ceriseRed;
            cursor: pointer;
            font-weight: 600;
        }
    }
}
