$themes: (
  darkTheme: (
    'colorBackground': #1C1B22,
    'colorText': #E1E1EC,
    'colorSubText': #E1E1EC,
    'colorLink': #0080FF,
    'colorNav': #191970,
    'colorHighlight': #FF0090,
    'colorCardBg': #312F3B,
    'colorCardBgOverdue': #331e1e,
    'colorCardBgBorder': white,
    'colorCardBgBorderInverse': rgb(95, 95, 95),
  ),
  lightTheme: (
    'colorBackground': #FFFFFF,
    'colorLink': #041484,
    'colorText': #041484,
    'colorSubText': black,
    'colorNav': #191970,
    'colorHighlight':#e30464,
    'colorCardBg': #FFF,
    'colorCardBgOverdue': #ffebee,
    'colorCardBgBorder': black,
    'colorCardBgBorderInverse': #e0e0e0,
  )
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}