@use "./themes";

.heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  
  @include themes.theme() {
    color: themes.theme-get('colorText');
  }
}
.statusMessage {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
  
  @include themes.theme() {
    color: themes.theme-get('colorText');
  }
}

@media (max-width: 340px) {
  .heading {
    font-size: 2rem;
  }
}
