$link-text: #2563eb;
$link-bg: #dbeafe;
$border-color: #d9d9d9;
$color-blue: #041187;
$color-white: #ffffff;
$color-disabled: #e5e7eb;

@mixin issues-button {
    background-color: $link-bg;
    color: $link-text;
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: 500;
    cursor: pointer;

    &:disabled {
        background-color: #f5f5f4;
        color: #57534e;
        cursor: default;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 750px;
    width: 100%;
    margin: auto;
}

.searchFieldContainer {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
}

.issueSearchInput {
    flex: 1;
    display: block;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border: none;
    background-color: $color-disabled;
}

.issuesSearchSubmitButton {
    @include issues-button;
    background-color: $color-blue;
    color: $color-white;
    border-radius: 0.25rem;
    border: none;

    &:not(:disabled):hover {
        background-color: darken($color-blue, 10%);
    }
}
