@import '../styles/variables.scss';

@mixin issues-button {
    background-color: $color-blue;
    color: $color-white;
    display: block;
    padding: 0.6rem 0.8rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: 500;
    cursor: pointer;

    &:disabled {
        background-color: $very-light-gray;
        color: darken($grayish-brown, 10%);
        cursor: default;
    }

    &:not(:disabled):hover {
        background-color: darken($color-blue, 10%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 750px;
    width: 100%;
    margin: auto;
}

.searchFieldContainer {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
}

.issueSearchInput {
    flex: 1;
    display: block;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border: none;
    background-color: $very-light-gray;
}

.issuesSearchSubmitButton {
    @include issues-button;
}
