.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  margin: auto;
  width: 90%;
  max-width: 800px;
}

.title {
  padding: 2rem;
  width: auto;
  font-size: 3.5rem;
  font-weight: bold;
  color: #041484;
  border: none;
  text-transform: capitalize;

  &:focus {
    outline: none;
  }

  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
}
