@import './variables.scss';

.tasksContainer {
    width: 64%;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.title {
    padding: 2rem;
    width: auto;
    font-size: 3.5rem;
    font-weight: bold;
    color: $theme-primary-alt;
    border: none;
    text-transform: capitalize;

    &:focus {
        outline: none;
    }
}

.tabsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.mineTasksContainer {
    margin-top: 2rem;
}

.status-tabs-container {
    display: block;
}

.status-select-container {
    display: none;
    padding: 1rem;
}

.loadMoreButton {
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $white;
        color: $theme-primary-alt;
    }

    &:disabled {
        color: $gray;
        cursor: default;
    }
}

@media (max-width: 1280px) {
    .tasksContainer {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .tasksContainer {
        width: 90%;
    }

    .title {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    .tasksContainer {
        width: 100%;
    }

    .status-select-container {
        display: block;
    }

    .status-tabs-container {
        display: none;
    }
}
