$primaryColor: #041484;
$disabledColor: gray;

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
}

.title {
    padding: 2rem;
    width: auto;
    font-size: 3.5rem;
    font-weight: bold;
    color: #041484;
    border: none;
    text-transform: capitalize;

    &:focus {
        outline: none;
    }

    @media (max-width: 767px) {
        font-size: 2.5rem;
    }
}

.tabsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.status-tabs-container {
    display: block;
    @media (max-width: 450px) {
        display: none;
    }
}

.status-select-container {
    display: none;
    padding: 1rem;
    @media (max-width: 450px) {
        display: block;
    }
}

.loadMoreButton {
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #fff;
        color: $primaryColor;
    }

    &:disabled {
        color: $disabledColor;
        cursor: default;
    }
}
