$theme-primary: #1d1283;
$theme-primary-light: #2e1da3;
$theme-primary-alt: #041187;
$cello-blue: #1c325e;
$bright-blue: #2563eb;
$royal-blue: #4169e1;
$indigo-blue: #5b56d9;
$dark-blue-transparent: rgb(29 18 255 / 10%);

$red: #ff0000;
$coral-red: #f84040;
$theme-cerise-red: #d61f69;
$theme-pink: #e30464;
$light-cerise-red: #f1416c;

$black: #000;
$dark-grayish-red: #1f1f1f;
$baltic-sea: #3c4043;
$grayish-brown: #78716c;
$gray: #808080;
$light-gray: #a9a9a9;
$lighter-gray: rgb(217, 217, 217);
$very-light-gray: #fffbfb;
$reddish-gray: #dedede;
$off-white: #f0f0f0;
$white: white;

$green: #008000;
$jungle-green: #29ab87;
$active-green: #87d870;
$yellow: #ecef08;
$orange: #ffa500;
$light-red-1: #ffb0b0;
$light-red-2: #ffdddd;

$shimmer-lighter: #eff1f3;
$shimmer-darker: #e2e2e2;

$radius: 5px;
$bigger-radius: 0.5rem;
