$theme-primary: #1d1283;
$theme-primary-light: #2e1da3;
$theme-ceriseRed: #d61f69;
$theme-light-cerise-red: #f1416c;
$color-white: white;
$off-white: #f0f0f0;
$color-light-grey: rgb(217, 217, 217);
$very-light-gray: lighten($color-light-grey, 5%);
$gray: #808080;
$light-gray: #a9a9a9;
$grayish-brown: #78716c;

$color-blue: #041187;
$bright-blue: #2563eb;
$dark-blue-transparent: rgb(29 18 255 / 10%);
$dark-grayish-red: #1f1f1f;
$color-black: #000;

$coral-red: #f84040;
$progress-green: #008000;
$progress-orange: #ffa500;
$progress-red: #ff0000;
$progress-yellow: #ecef08;
$jungle-green: #29ab87;
$royal-blue: #4169e1;
$reddish-gray: #dedede;
$light-red-2: #ffdddd;
$light-red-1: #ffb0b0;

$banner-background: #1c325e;

$border-radius: 5px;
$border-radius-bigger: 0.5rem;
