.layout {
    margin: 0 auto;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    min-height: 100%;
}

.wrapper {
    margin: 0 2em;
}


@media (max-width: 970px) {
    .navbar {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 450px) {
    .wrapper {
        margin: 0 10px;
    }
}