.layout {
  margin: 0 auto;
  max-width: 100%;
  flex-direction: column;
  display: flex;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  margin: 0 2em;
}

.link {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #041484;
  cursor: pointer;
  background: none;
  border: none;
}

.active {
  color: #e30464;
}
