.layout {
  margin: 0 auto;
  max-width: 100%;
  flex-direction: column;
  display: flex;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow: auto;
}

.wrapper {
  margin: 0 2em;
}

.link {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #041484;
  cursor: pointer;
  background: none;
  border: none;
}

.active {
  color: #E30464;
}
.edit{
  position: relative;
  right: 0;
  cursor: pointer;
  // padding-right:25%;
  float:right;
  right:250px;

}
// .links{
//   line-height:30px;
//   float:right;
// }