.layout {
  margin: 0 auto;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #041484;
  cursor: pointer;
}

.active {
  color: #E30464;
}

.rdsHeader{
  display: flex;  
  align-self: flex-start; 
}

.logo {
  width: 3rem;
  padding: 0.1rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #E30464;
  display: inline;
  margin: 10px 4px;
}