.card {
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  cursor: pointer;
  width: auto;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prTitle {
  color: #041484;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0;
}
.cardFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 
.profilePicture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6em;
}
.profilePicture > img {
  width: 3em;
  border-radius: 50%;
}
.statusElement {
  margin: 0 0 5px 0;
}
.statusLabel {
  color: grey;
  font-weight: bold;
  min-width: 85px;
  display: inline-block;
}
.participantsLists {
  list-style: none;
  display: flex;
  vertical-align: top;
  margin-top: 0;
} 
.participantsList img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-left: -20px;
}
.activeBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4fb90d;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font: inherit;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5rem;
  }
.activeBtn:hover,
.activeBtn:active {
  background: darkgreen;
  }
.Center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.links{
  text-decoration: none;
}

.datetime {
  display: block;
  position: relative;

  &:hover {
    .nothover {
      visibility: hidden;
      opacity: 0;
    }
    .onhover{
      visibility: visible;
      opacity: 1;
    }
  }

  .nothover {
    cursor: pointer;
    transition: all 350ms ease-in-out;
  }

  .onhover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 350ms ease-in-out;
    span {
      position: unset;
      visibility: unset;
      opacity: unset;
    }
  }
  
  .onhover {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 40%;
  }
}
