@import '../../styles/variables.scss';

.card {
    box-shadow: 0 0 15px -7px rgba($color-black, 0.65);
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .title {
        width: 100%;
        color: $color-blue;
        font-size: 2rem;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        margin-bottom: 1rem;
    }

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba($color-black, 0.2),
            0 6px 20px 0 rgba($color-black, 0.19);
    }

    .cardFooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .profilePicture {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 6em;

            & > img {
                width: 3em;
                border-radius: 50%;
            }
        }
    }

    .statusLable {
        color: $gray;
        font-weight: bold;
    }

    .Center {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

        .participantsLists {
            list-style: none;
            display: flex;
            vertical-align: top;
            margin-top: 0;

            .participantsList > img {
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
                margin-left: -20px;
            }
        }
    }
}

.links {
    text-decoration: none;
    cursor: pointer;

    .activeBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: lighten($progress-green, 10%);
        color: $color-white;
        border: 2px solid $color-black;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font: inherit;
        cursor: pointer;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .activeBtn:hover,
    .activeBtn:active {
        background: $progress-green;
    }
}
