$primary-color: #1d1283;
$black-color: #000;
$white-color: #fff;
$light-gray: #d0d7de;
$gray-color: #808080;
$dark-light-gray: #b1acac;
$filter-button-hover: #f6f8fa;
$radius: 5px;

.task-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $light-gray;
    border-radius: $radius;
    margin-right: 1rem;
    border: 1px solid $light-gray;

    @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
    }

    @media (max-width: 368px) {
        width: 90%;
        margin-right: 0;
    }
}

.filter-button {
    width: 5rem;
    height: 2rem;
    border-radius: $radius 0 0 $radius;
    background-color: $white-color;
    color: $black-color;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-right: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;

    &:after {
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $black-color;
        margin-left: 0.5rem;
    }

    @media (max-width: 768px) {
        width: 6rem;
    }
}

.search-input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 0 $radius $radius 0;
    border: none;
    outline: none;
    background-image: url('https://img.icons8.com/ios-filled/16/000000/search.png');
    background-repeat: no-repeat;
    background-position: 0.5rem;
    padding-left: 2rem;
    background-color: $white-color;
    border-left: 1px solid $light-gray;

    &:focus {
        border: 1px solid $primary-color;
    }
}

.search-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    @media (max-width: 768px) {
        width: 100%;
        margin-top: 1rem;
    }
    @media (max-width: 368px) {
        width: 90%;
        margin-top: 1rem;
    }
}

.search-button {
    width: 100%;
    height: 2rem;
    border-radius: $radius;
    background-color: $white-color;
    color: $black-color;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid $gray-color;
    outline: none;

    &:hover {
        background-color: $primary-color;
        color: $white-color;
        border: 1px solid $primary-color;
    }

    @media (max-width: 768px) {
        width: 100%;
        border-radius: $radius;
        margin-left: 0;
    }
}
.filter-modal-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.filter-modal {
    position: relative;
    top: 11.5rem;
    left: -2.8rem;
    min-width: 15rem;
    background-color: $white-color;
    border-radius: $radius;
    border: 1px solid $dark-light-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    @media (max-width: 768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
}
.filter-modal-dev {
    top: 13.5rem;

    @media (max-width: 768px) {
        top: 50%;
    }
    @media (max-width: 483px) {
        top: 55%;
    }
    @media (max-width: 450px) and (min-width: 444px) {
        top: 50%;
    }
    @media (max-width: 343px) {
        top: 59%;
    }
}

.filter-modal-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-color;
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    span {
        font-size: 1rem;
        font-weight: bold;
    }
}

.status-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 768px) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .status-button {
        width: 100%;
        height: 2rem;
        border: none;
        outline: none;
        text-align: start;
        padding-left: 2rem;
        cursor: pointer;
        background-color: transparent;
        border-bottom: 1px solid $light-gray;
        border-left: none;
        &:hover {
            background-color: $filter-button-hover;
        }
    }

    .status-button-active {
        background-color: $filter-button-hover;
        border-left: 3px solid $primary-color;
    }
}

.close {
    cursor: pointer;
    font-size: 1.5rem;
}
