$primary-color: #1d1283;
$secondary-color: #eeeeee;
$black-color: #000;
$white-color: #fff;
$radius: 0.3rem;

.task-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d0d7de;
    border-radius: $radius;
    margin-right: 1rem;
    border: 1px solid #d0d7de;
}

.filter-button {
    width: 5rem;
    height: 2rem;
    border-radius: $radius 0 0 $radius;
    background-color: $secondary-color;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-right: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.3rem;

    &:after {
        content: '';
        border-left: 0.3rem solid transparent;
        border-right: 0.3rem solid transparent;
        border-top: 0.3rem solid black;
        margin-left: 0.5rem;
    }
}

.search-input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 0 $radius $radius 0;
    border: none;
    outline: none;
    background-image: url('https://img.icons8.com/ios-filled/16/000000/search.png');
    background-repeat: no-repeat;
    background-position: 0.5rem;
    padding-left: 2rem;
    background-color: $secondary-color;
    border-left: 1px solid #d0d7de;

    &:focus {
        border: 1px solid $primary-color;
    }
}

.search-button {
    width: 5rem;
    height: 2rem;
    border-radius: $radius;
    background-color: $secondary-color;
    color: $black-color;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid gray;
    outline: none;

    &:hover {
        background-color: $primary-color;
        color: $white-color;
        border: 1px solid $primary-color;
    }
}

// modal styles

.filter-modal {
    position: relative;
    top: 10.5rem;
    left: -2.5rem;
    min-width: 15rem;
    background-color: #fff;
    border-radius: $radius;
    border: 1px solid rgb(177, 172, 172);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.filter-modal-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    span {
        font-size: 1rem;
        font-weight: bold;
    }
}

.status-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .status-button {
        width: 100%;
        height: 2rem;
        border: none;
        outline: none;
        text-align: start;
        padding-left: 2rem;
        cursor: pointer;
        background-color: transparent;
        border-bottom: 1px solid #d0d7de;
        border-left: none;
        &:hover {
            background-color: #f6f8fa;
        }
    }

    // status active button styles
    .status-button-active {
        background-color: #f6f8fa;
        border-left: 3px solid $primary-color;
    }
}

.close {
    cursor: pointer;
    font-size: 1.5rem;
    color: rgba(158, 154, 154, 0.815);

    &:hover {
        color: rgb(0, 0, 0);
    }
}
