.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 80%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modalVisible {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 40%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modalContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.modalActions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

select {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

.btnPassive {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #540075;
  background:#540075;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

.btnSuccess {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #540075;
  background: #540075;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

.backdropVisible {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  display: block;
  pointer-events: all;
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .modalVisible {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}