@import '../../styles/variables.scss';

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.modalOverlay {
    z-index: 9998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($black, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    display: block;
    position: relative;
    background: $white;
    width: max-content;
    height: max-content;
    border-radius: 1rem;
    animation: fadeIn ease-in-out 250ms;
}
.progressContainer {
    position: relative;
    width: 100%;
}

.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 21rem;
    width: 22.5rem;
}

.closeIcon {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    width: 2.9rem;
    height: 1.6rem;
    cursor: pointer;
    color: $black;
    border: none;
    background-color: transparent;

    &:hover {
        color: $gray;
    }
}

.checkIcon {
    margin-top: 1.375rem;
    width: 2.75rem;
    height: 2.75rem;
    color: $light-green;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
}

.text {
    color: rgba($black, 0.7);
    text-align: center;
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    margin-top: 0.063rem;
}

.buttonContainer {
    display: flex;
    gap: 1.5rem;
    margin-top: 2.9rem;
    @media (max-width: 480px) {
        flex-direction: row;
    }
}

.changeStatusButton,
.closeButton {
    flex: 1;
    padding: 0.75rem 1rem;
    border: 2px;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 8.75rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 0.875rem;
}

.changeStatusButton {
    background-color: $indigo-blue;
    color: $white;

    &:hover {
        background-color: $dark-indigo-blue;
    }
}

.closeButton {
    background-color: $white;
    color: $baltic-sea;
    border: 2px solid rgba($gray, 0.2);

    &:hover {
        background-color: rgba($gray, 0.1);
    }
}
