@import '../../styles/variables.scss';

.header {
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--toastify-text-color-light);
    overflow-x: auto;
    scrollbar-width: thin;
}

.link {
    width: max-content;
    padding: 0.6rem 0.7rem;
    text-decoration: none;
    font-weight: 700;
    color: $theme-primary-alt;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
}

// Remove when feature flag is removed from tabs refactor
.linkSeparator {
    &::after {
        content: '';
        position: absolute;
        height: 1rem;
        width: 2px;
        right: 0;
        background-color: rgba($black, 0.45);
    }
}

.header a:last-child {
    .link::after {
        display: none;
    }
}
// Remove upto this

.tabUnderline {
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0px;
    left: 10%;
    right: 0;
    background: $theme-pink;
    border-radius: 2px;
}

.tabPill {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: $dark-blue-transparent;
    border-radius: 5px;
}

.active {
    color: $theme-pink;
}

@media (max-width: 767px) {
    .header {
        justify-content: flex-start;
    }
}
