@import '../../styles/variables.scss';

.header {
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--toastify-text-color-light);
}

.link {
    padding: 0.6rem;
    text-decoration: none;
    font-weight: 700;
    color: $theme-primary-alt;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 1rem;
        width: 2px;
        right: 0;
        background-color: rgba($black, 0.45);
    }
}

.underline {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background: $theme-pink;
}

// Hide | for the last elements
.header a:last-child {
    .link::after {
        display: none;
    }
}

.active {
    color: $theme-pink;
}
