.header {
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--toastify-text-color-light);
}

.link {
    margin: 0.2rem;
    border: none;
    border-right: 1.6px solid var(--toastify-text-color-light);
    padding: 0 0.8rem;
    min-width: 4rem;
    height: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: #041484;
    cursor: pointer;
    background: none;
    position: relative;
}

// Hide | for the last elements
.header a:last-child {
    .link {
        border-right: none;
    }
}

.active {
    color: #e30464;
}
