@import '../../styles/variables.scss';

$offset: 10px;
$thickness: 3px;

.navBar {
    display: flex;
    width: 100%;
    background-color: $theme-primary;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .navLinks {
        display: flex;

        a {
            display: block;
            color: $white;
            font-weight: bolder;
            text-align: center;
            padding: 0px 25px;
            text-decoration: none;

            &:hover {
                color: $active-green;
            }
        }

        .active {
            color: $active-green;
            text-decoration: underline;
            text-decoration-thickness: $thickness;
            text-underline-offset: $offset;
        }

        .logo {
            padding: 0;
        }
    }

    .signInLink {
        border-radius: 6px;
        padding: 5px;
        background-color: $theme-primary;
        color: $white;
        border: 1px solid $white;
        display: flex;
        justify-content: space-around;
        font-size: 13px;
        font-weight: 200;
        margin-right: 0.625rem;
        text-decoration: none;
        align-items: center;
    }

    .githubLogo {
        margin-left: 0.25rem;
        border-radius: 50%;
    }

    .userProfilePic {
        border-radius: 50%;
        display: inline;
        vertical-align: middle;
    }

    .userGreet {
        align-items: center;
        padding: ($offset + $thickness)+7;
        cursor: pointer;
    }

    .userGreetMsg {
        display: inline;
        vertical-align: middle;
        margin-right: 0.625rem;
        color: $white;
        font-weight: 600;
    }

    .hamburgerIcon {
        display: none;
    }

    .mobile_menu > li {
        list-style: none;
    }

    .navLinks .mobile_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .active {
        color: $active-green;
        text-decoration: underline;
        text-decoration-thickness: $thickness;
        text-underline-offset: $offset;
    }
}

@media (max-width: 970px) {
    .navBar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;

        .navLinks {
            a {
                padding: 10px 40px;
                text-align: left;
                color: $theme-primary;
                display: none;
            }
        }

        .hamburgerIcon {
            display: inline-block;
            height: 73px;
            width: 73px;
            padding: 18px;
            cursor: pointer;
            font-size: 20px;
            color: $white;
        }
    }

    .signInLink {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .showLogo {
        display: none;
    }

    .icon {
        height: 32px;
    }

    .navBarMenu {
        background: $white;
        display: inline-block;
        width: 100%;
    }

    .navBarMenu .mobile_menu {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10px 15px rgb(0 0 0 / 50%);
        width: 100%;
    }

    .navBarMenu li {
        padding: 12px 40px;
        font-size: 16px;
        text-align: left;
        font: 700 16px Roboto, sans-serif;
    }

    .navBarMenu li a {
        text-decoration: none;
        color: $theme-primary;
    }

    .userProfile {
        position: absolute;
        top: 0.55rem;
        right: 0%;
    }

    .signInLink {
        width: 10rem;
    }

    .navBarMenu .mobile_menu > li a:hover {
        color: $active-green;
    }

    .navBarMenu .mobile_menu > li a:active {
        color: $active-green;
    }
}
