$offset: 10px;
$thickness: 3px;
$white: #fff;
$theme-blue: #1d1283;
$theme-active: #87d870;

.navBar {
    display: flex;
    width: 100%;
    background-color: $theme-blue;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .navLinks {
        display: flex;

        a {
            display: block;
            color: $white;
            font-weight: bolder;
            text-align: center;
            padding: 0px 25px;
            text-decoration: none;

            &:hover {
                color: $theme-active;
            }
        }

        .active {
            color: $theme-active;
            text-decoration: underline;
            text-decoration-thickness: $thickness;
            text-underline-offset: $offset;
        }

        .logo {
            padding: 0;
        }
    }
    .signInLink {
        border-radius: 6px;
        padding: 5px;
        background-color: $theme-blue;
        color: $white;
        border: 1px solid $white;
        display: flex;
        justify-content: space-around;
        font-size: 13px;
        font-weight: 200;
        margin-right: 0.625rem;
        text-decoration: none;
        align-items: center;
    }

    .githubLogo {
        margin-left: 0.25rem;
        border-radius: 50%;
    }

    .userProfilePic {
        border-radius: 50%;
        display: inline;
        vertical-align: middle;
    }

    .userGreet {
        align-items: center;
        padding: ($offset + $thickness)+7;
        cursor: pointer;
    }

    .userGreetMsg {
        display: inline;
        vertical-align: middle;
        margin-right: 0.625rem;
        color: $white;
        font-weight: 600;
    }

    .hamburgerIcon {
        display: none;
    }
    ul li {
        list-style: none;
    }
    .navLinks ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .active {
        color: $theme-active;
        text-decoration: underline;
        text-decoration-thickness: $thickness;
        text-underline-offset: $offset;
    }
}
@media (max-width: 970px) {
    .navBar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        .navLinks {
            a {
                padding: 10px 40px;
                text-align: left;
                color: $theme-blue;
                display: none;
            }
        }
    }

    .signInLink {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .showLogo {
        display: none !important;
    }

    .hamburgerIcon {
        display: inline-block !important;
        height: 73px;
        width: 73px;
        padding: 18px;
        cursor: pointer;
        font-size: 20px;
        color: $white;
    }
    .icon {
        height: 32px;
    }

    .navBarMenu {
        background: $white;
        display: inline-block;
        width: 100%;
    }

    .navBarMenu ul {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10px 15px rgb(0 0 0 / 50%);
        width: 100%;
    }

    .navBarMenu li {
        padding: 12px 40px;
        font-size: 16px;
        text-align: left;
        font: 700 16px Roboto, sans-serif;
    }

    .navBarMenu li a {
        text-decoration: none !important;
        color: $theme-blue;
    }

    .userProfile {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 50;
    }

    .signInLink {
        width: 10rem;
    }

    .navBarMenu ul li a:hover {
        color: $theme-active;
    }

    .navBarMenu ul li a:active {
        color: $theme-active;
    }
}
