.active {
  display: block;
  width: 100%;
  min-width: 17rem;
  max-width: 24rem;
}

.sectionHeading {
  font-size: 2rem;
  color: #041484;
}

@media (min-width: 40rem) {
  .active {
    display: inline-block;
    margin: 40px;
    vertical-align: top;
  }
}
