.parent_container {
    margin: 2rem 4rem 0rem 4rem;
  }
  
  .title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .title {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.778);
    padding: 0.5rem 0;
  }
  
  .edit_btn {
    display: block;
    font-size: 1rem;
    width: 5rem;
    background-color: #1d1283;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .details_container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .details_left_container {
    flex: 2;
  }
  
  .details_right_container {
    flex: 1;
  }
  
  .block {
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .block_heading {
    font-size: 1.2rem;
  }
  
  .block_content_detail_type {
    display: inline-block;
    width: 6rem;
  }
  
  .block_content_value {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .sub_details_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .right_container_details_header {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    padding-top: 0.5rem;
  }
  
  .right_container_details_heading {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .right_container_details_sub_container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .isEditTrue {
    display: flex;
    gap: 1rem;
  }
  
  .textarea {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .center {
    text-align: center;
  }
  
  @media only screen and (max-width: 750px) {
    .details_container {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 520px) {
    .sub_details_container {
      grid-template-columns: 1fr;
    }
  }
  