@import '../../styles/variables.scss';

.paginationButton {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $theme-primary-alt;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $white;
        color: $theme-primary-alt;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: $lighter-gray;
        color: $white;
        cursor: default;
    }
}
