@import '../../../../styles/variables.scss';

.suggestion-div {
    padding: 5.2px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 0.88rem;
    &:hover {
        background-color: $color-light-grey;
        cursor: pointer;
        color: $color-black;
    }
}
.suggestion-div:last-child {
    border-radius: 0 0px 5px 5px;
}
.selected-suggestion {
    background-color: $color-light-grey;
    cursor: pointer;
    color: $color-black;
}
.suggestion-box {
    width: 100%;
    top: 103%;
    border-radius: 0 0px 5px 5px;
    border: 1px solid $gray;
    border-top: none;
    z-index: 5;
    position: absolute;
    text-align: left;
    background-color: white;
    left: 0;
}
.empty-box {
    padding: 5.3px;
    text-align: center;
    border: 1px solid $light-gray;
    border-top: none;
    width: auto;
}
