$color-blue: #041187;
$color-red: #e30062;
$color-green: #85da6b;
$color-disabled: #7c7e82;
$color-white: #fff;
$color-black: #000;

.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    align-items: center;
}

.searchBar {
    width: 600px;
    font-family: sans-serif;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.btnActive {
    background-color: $color-blue;
    border-radius: 4px;
    color: white;
    background-color: $color-blue;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
}

.btnDisabled {
    background-color: $color-blue;
    border-radius: 4px;
    color: white;
    background-color: $color-disabled;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
}

@media only screen and (max-width: 520px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .searchBar {
        width: 100%;
        margin: 4px;
    }
}
