.participantsLists {
  list-style: none;
  display: flex;
  vertical-align: top;
  margin-top: 0;
}

.participantsList img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-left: -20px;
}
