@import '../../../styles/variables';

.tooltip {
    position: absolute;
    width: 18rem;
    // position - top, bottom, right, left will come from props for reusability
    background-color: $theme-primary;
    border: 1px solid $theme-primary;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    color: $white;
    z-index: 1;
    font-weight: 600;
    font-size: 1rem;
    display: none;

    &::before {
        content: '';
        position: absolute;
        height: 12px;
        width: 12px;
        bottom: 0;
        background: $theme-primary;
        left: 50%;
        transform: translateX(-50%) translateY(6px) rotate(45deg);
        z-index: -1;
    }
}

.fade-in {
    animation: fade-in 0.3s linear 0s 1 normal forwards;
    display: block;
    @keyframes fade-in {
        0% {
            opacity: 0.2;
        }
        100% {
            opacity: 1;
        }
    }
}

.fade-out {
    animation: fade-out 0.3s linear 0s 1 normal forwards;
    @keyframes fade-out {
        0% {
            opacity: 1;
            display: block;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}
