@import '../../../styles/variables';

.tooltip {
    position: absolute;
    width: 17rem;
    top: -40px;
    left: -60px;
    right: 0;
    background-color: $theme-primary;
    border: 1px solid $theme-primary;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    color: $color-white;
    z-index: 1;
    font-weight: 600;
    font-size: 1rem;

    &::before {
        content: '';
        position: absolute;
        transform: rotate(45deg);
        height: 12px;
        bottom: -5px;
        z-index: -1;
        left: 8rem;
        right: 8rem;
        width: 13px;
        background: #1d1283;
    }
}

.fade-in {
    animation: fade-in 0.3s linear 0s 1 normal forwards;
    display: block;
    @keyframes fade-in {
        0% {
            opacity: 0.2;
        }
        100% {
            opacity: 1;
        }
    }
}

.fade-out {
    animation: fade-out 0.3s linear 0s 1 normal forwards;
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}
