.App {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%; 
  }
  .body{
    background-color: white;
    font-size: 5px;
    justify-content: center;
    font-family: 'Raleway', sans-serif; 
    width: 100%;
  }
  .container{
    margin-top: 50px;
    justify-content: center;
    margin: 10px 10px;
    border: 2px solid #1D1283;
    border-radius: 5px;
  }
  .mainblock{
    display: grid;
    gap: 5px;
              grid-template-columns: repeat(
                  auto-fit, minmax(300px, 1fr));
  
    margin: 10px 10px; 
    padding: 5px 5px;
    border-radius: 5px;
    justify-content: center;
    max-width: 900px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  h1{
    align-items: center;
    padding: 10px 10px;
    color:#E30062;
    align-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  h6{
  margin: 10px 5px;
  font-family: 'Raleway', sans-serif;
  }
  h5{
    margin: 10px 5px;
    width: fit-content;
    color: #1D1283;
    font-family: 'Raleway', sans-serif;
  }
  
  .Details{
    margin: 10px 20px;
    background-color: #f0f0f0c7;
    padding: 15px 15px;
    border-radius: 5px;
    min-height: 100px;
  }
  
  .detail-opt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 5px;
  }
  .Description{
    margin: 10px 20px;
    padding: 15px 15px;
    background-color: #F0F0F0;
    border-radius: 5px;
    min-height: 100px;
  }
  .Activity{ 
    margin: 10px 20px;
    padding: 15px 15px;
    background-color: #F0F0F0;
    border-radius: 5px;
    min-height: 100px;
  }
  .Participants{
    margin: 10px 20PX ;
    padding: 15px 15px ;
    background-color: #F0F0F0;
    border-radius: 5px;
    min-height: 100px;
  }
  .part-opt{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 5px 5px;
  }
  
  .Dates{
    margin: 10px 20PX ;
    padding: 15px 15px;
    background-color: #F0F0F0;
    border-radius: 5px;
    min-height: 100px;
    border:2px #1D1283;
  }
  .date-opt{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5px 5px;
  }
  
  p{
    align-items: center;
    font-size: 12px;
    padding-left: 5px 5px;
    font-family: 'Raleway', sans-serif;
  }
  
  .btn{
    margin: 5px 5px;
    
  }
  .btn1{
    margin: 10px 10px;
    margin-left: 80%;
    margin-right: 20%;
  }
  
  .btn-1{
    font-weight: 700 ;
    font-size: small;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #463ca0;
  border: none;
  color: #F0F0F0;
  }
  