@import '../../styles/variables.scss';

.container {
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 750px;

    @media (max-width: 767px) {
        min-width: 300px;
        width: 70vw;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    text-align: left;
    width: auto;
    font-size: 3.5rem;
    font-weight: bold;
    color: $color-blue;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    margin: 0 10px;

    &:focus {
        outline: none;
    }

    @media (max-width: 767px) {
        font-size: 2.5rem;
    }
}

.content {
    padding: 1rem;
    justify-content: center;
    display: none;
}

.open {
    display: block;
}

.close {
    display: none;
}
