.container {
  border-radius: 10px;
  margin-bottom: 1rem;
  min-width: 800px;

  @media (max-width: 767px) {
    min-width: 300px;
    width: 70vw;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  width: auto;
  font-size: 3.5rem;
  font-weight: bold;
  color: #041484;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  margin: 0 10px;

  &:focus {
    outline: none;
  }

  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
}

.content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  display: none;
}

.open {
  display: block;
}

.close {
  display: none;
}
