.boxConent {
  padding: 1rem;
  width: 100%;
}

.heading {
  color: #540075;
  font-size: 25px;
  text-align: center;
}

.activeBtn button {
  background: #4fb90d;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font: inherit;
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
}

.viewStats {
  width: 100%;
  text-align: center;
}

.viewStats a {
  color: black;
  text-decoration: underline;
}

.activeBtn {
  text-align: center;
  max-width: 370px;
}
