.boxContent {
  border: 3px solid black;
  box-shadow: 0 2px 3px #ccc;
  width: 100%;
  text-align: left;
  margin: 16px 0;
  border-radius: 8px;
}

.heading {
  color: #041484;
  font-size: 25px;
  text-align: center;
}

.activeBtn button {
  background: #4fb90d;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font: inherit;
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
}

.activeBtn button:hover,
.activeBtn button:active {
  background: darkgreen;
}

.viewStats {
  width: 100%;
  text-align: center;
}

.viewStats a {
  color: black;
  text-decoration: underline;
}

.activeBtn {
  text-align: center;
}

.participants {
  display: flex;
  flex-flow: row wrap;
}
