$theme-blue: #1d1283;

.card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 2rem;
  align-items: center;

  img {
    border-radius: 50%;
  }

  .name {
    cursor: pointer;
    margin-top: 3%;
    font-size: 1rem;
    font-weight: 700;

    &:hover{
      color: $theme-blue
    }
  }
}
