@import '../../../styles/variables.scss';

.card {
    border: 2px solid $black;
    color: $theme-primary;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    align-items: center;
    text-decoration: none;
    transition: all 0.38s ease-out;
    width: 15rem;

    &:hover {
        color: $theme-ceriseRed;
        box-shadow: 0 4px 8px 0 rgba($black, 0.2),
            0 6px 20px 0 rgba($black, 0.19);
    }

    img {
        border-radius: 50%;
    }

    .name {
        font-size: 1rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
